/* O SÍMBOLO (.) CHAMA A CLASSE*/
/* O SÍMBOLO (#) CHAMA O ID*/
*{
    border: 0cap; 
    padding: 0;
    margin: 0;
}
/* CABEÇALHO */
header{ 
    background-color: violet;
    z-index: 1; /*sobrepõe qualquer outro elemnto da página*/
}

/* CORPO/FUNDO DA PÁGINA */
body{
    background-color:#ffffff;
}
/*estilização do cabeçalho*/
#h1-header{
    color: wheat;
    font-size: arial;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.h3-header{
    color: rgb(0, 0, 0);
    font-size: arial;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.link-cabeçalho{
    text-decoration: none;
    color: rgb(0, 0, 0);
    word-spacing: 5px;
    font-size: 16px;
    font-family: Arial;
}
#Navegação{
    text-align: right;
    padding-right: 5px;
}

/*Anúncio de promoção*/
.Section-1{
    color: black;
    background-color: bisque;
    margin: 0 auto; 
    text-align: center;
    width: 90%;
    height: 160px;
    border-radius: 12px;
}

/*estilização das informaçãoes de promoção*/
.h2-section1{
    font-size: 25px;
    padding-top: 27px;
}
.p1{
    padding-top: 13px;
    font-size: 22px;
}
.section-grid{
    padding: 10px;
    height: 10%;
    padding-bottom: 20px;

}

/*edição das exibições dos doces*/
.section-2{
    background-color: violet;
    margin: 0 auto;
    width: 30%; /*largura*/
    max-width: 100%; /*largura máxima*/
    height: 50%; /*altura*/
    border-radius: 12px; /*Arredondamento das bordas*/
    text-align: center; /*Alinhamento do texto*/
}
.grid{
    background-color: none; /*Deixar a cor vazia*/
    display:grid; /*Passando por grade pra ficar organizado*/
    height: 20%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*Propriedade que indica como vou trabalhar o formato da grade (conteúdo em colunas)*/
    grid-column-gap: 10px; /*Espaçamento em cada subgrid*/
    max-width: 90%;
    margin: 0 auto;
    padding: 5px; /*reenchimento, enchimento, espaçamento interno*/
}
.sub-grid{
    font-family: none;
    font-size: 1.6rem;
    text-align: center;
    background-color: bisque;
    padding-bottom: 20px;
    padding-top: 2px;
    margin:2px;
    border-radius: 12px; /*Arredondamento das bordas*/
}
.img-doce{
    max-width: 100%;
}
.h2-cardapio{
    font-family: none;
    font-size: 200%;
    text-shadow: -2px -2px 4px #ffffff;
}
.h2-sub-grid{
    font-family: none;
    font-size: 100%;
    color: none;
    padding-bottom: 5px;
}
.p-preços{
    font-family: none;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px ;
}
.botao-acao{
    width: 70%;
    background-color: violet;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    padding-top: 5px;
}
/*aplicação do estilo/efeito*/
.botao-acao:hover{
color: bisque
}
.link-cabeçalho{
    font-weight: bold;
    font-family: none;
}
/*aplicação de estilo*/
.link-cabeçalho:hover{
    color: bisque;
}
#rodapé{
    background-color: violet;
}
#h2-rodapé{
    padding-top: 5px; /*Afasta*/
    text-align: center; /*centraliza o texto*/
    color: black; /*define a cor*/
    font-size: 28px; /*espaçamento*/
    font-family: none;/*fonte*/
}
.p1-footer{
    color: black;
    font-family: none;
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.botao-whatsapp{
    position: fixed; /*Posição fixa*/
    width: 60px; /*largura*/
    height: 60px; /*altura*/
    bottom: 40px;
    right: 25px;
    background-color: green; /*cor do botção*/
    border-radius: 50px; /*Arrendondamento das bordas*/
    text-align: center; /*Ícone ficar centralizado*/
    font-size: 30px;
    z-index: 1000; /*ficar flutuando sobre qualquer componente*/
    box-shadow: 1px 2px 5px green; /*Sombra do elemento*/
}
.fa-whatsapp{
    margin-top: 15px;
    color: white;
}