* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav {
  display: flex;
}

.nav-link, .nav a {
  color: #AB465C;
  font-family: monospace;
  font-size: 1.5vw;
  margin-left: 4vw;
  font-weight: 600;
}

header {
  align-items: center;
  background-color: #FDE5C3;
  display: flex;
  justify-content: space-between;
  max-height: 10vh;
  padding: 1.7vw;
  width: 100%;
}

/* Parte inicial */

#main {
  background-image: url('./public/wpdonuts.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#main-title {
  font-weight: 700;
  font-size: 10vh;
  margin: 0vh 0 5vh 5vw;
}

#main-text {
  color: #64141B;
  font-size: 3vh;
  width: 40vw;
  margin-top: 1vh;
}

#main-title, #main-text, #main-subt {
  margin-left: 5vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-subt {
  font-size: 5vh;
  color: #f163a0;
}

#main {
  background-image: url('./public/wpdonuts.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  background-color: #FAF3F0;
  justify-content: center;
}

/* Parte dos produtos */

#produtos {
  align-items: center;
  background-color: #FDE5C3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 10vw; 
}

#produtos-title {
  color: #64141B;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 8vh;
  margin-bottom: 8vh;
}

#produtos-link, #produtos a {
  color: #AB465C;
}

.carrossel-img {
  border-radius: 25px;
  width: 55vw;
  height: 50vh;
}

#produtos-text {
  align-self: center;
  color: #64141B;
  font-size: 3vh;
  margin-top: 5vh;
  font-weight: 600;
}

/* Parte do contato */

#contato {
  align-items: center;
  background-color: #F1C0D5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;  
  padding: 10vh 5vw;
}

#sobre, #sobre-contato {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

#sobre-text {
  width: 40vw;
  font-family: Apple Chancery, cursive;
  font-size: 17px;
}

#sobre-img {
  width: 30vw;
  border-radius: 25px;
}

#sobre-contato h1 {
  color: #64141B;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 6vh;
}

.fa-whatsapp{
    color: green;
    font-size: 3vw;
    transform: scale(1.1);
}


footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto; /* Empurra o footer para o final */
  padding: 20px 0; 
  background-color: #FDE5C3;
}