* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav {
  display: flex;
  margin-right: 10vw;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 1.4vw;
  margin-left: 4vw;
}

header {
  align-items: center;
  background-color: #b79ced;
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  padding: 1.7vw;
  width: 100%;
}

#produtos {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;  
  background-color: #FAF3F0;
}

h1 {
  font-family: cursive;
  margin: 10vh 0 5vh 0;
}

.carrossel-img {
  width: 60vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: #EBCEC2 5px 7px 5px;
}

#contato {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;  
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto; /* Empurra o footer para o final */
  padding: 20px 0; 
  background-color: #b79ced;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none; 
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: 25%;
}

#radio3:checked ~ .first{
  margin-left: 50%; 
}

#radio4:checked ~ .first{
  margin-left: 75%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}