* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  margin-right: 10vw;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 1.4vw;
  margin-left: 4vw;
}

header {
  align-items: center;
  background-color: rgb(242, 160, 248);
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  padding: 1.7vw;
  width: 100%;
}

.carrossel-img {
  width: 80vw;
  height: 30vh;
}
