* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav {
  display: flex;
  margin-right: 10vw;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 1.4vw;
  margin-left: 4vw;
}

header {
  align-items: center;
  background-color: #b79ced;
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  padding: 1.7vw;
  width: 100%;
}

#produtos {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;  
  background-color: #FAF3F0;
}

h1 {
  font-family: cursive;
  margin: 10vh 0 5vh 0;
}

.carrossel-img {
  width: 60vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: #EBCEC2 5px 7px 5px;
}

#contato {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;  
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto; /* Empurra o footer para o final */
  padding: 20px 0; 
  background-color: #b79ced;
}

